<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Record</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" media="all"
          href="style.css" th:href="@{/style.css}" />
</head>
<body>
<h1>Create New Record</h1>
<a th:href="@{/}"><button id="backbutton" class="btn btn-sm btn-info"> Back </button></a>
    <section class="row" style="width: 60%; margin-left:20%; margin-top: 5%; border: 10px">
        <div class="col-xs-2"></div>
        <div class="col-xs-8">
<form action="#" th:action="@{/saveNewRecord}" th:object="${record}"
      method="POST">
    <div>
    <input type="text" th:field="*{recordTitle}"
           placeholder="Record Title">
    </div>
    <br>
    <div class="box">
        <label for="counter-input" class="label">Characters (MAX 300):
            <span id="counter-display" class="tag is-success">0</span></label>
    <br>
        <textarea name="textarea" id="counter-input" rows="5" cols="50" maxlength="300"
                  type="text" th:field="*{recordDescription}" placeholder="Record"></textarea>
    </div>

    <button type="submit" class="btn btn-sm btn-primary"> Save </button>
</form>
        </div>
        <div class="col-xs-2"></div>
    </section>

<script>
    (() => {
  const counter = (() => {
    const input = document.getElementById('counter-input'),
      display = document.getElementById('counter-display'),
      changeEvent = (evt) => display.innerHTML = evt.target.value.length,
      getInput = () => input.value,
      countEvent = () => input.addEventListener('keyup', changeEvent),
      init = () => countEvent();

    return {
      init: init
    }

  })();

  counter.init();

})();
</script>

</body>
</html>