<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add User</title>
    <div class="drawline"></div>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" media="all"
          href="css/style.css" th:href="@{/css/style.css}"/>
</head>
<body>
<h1>Create new user</h1>
<a th:href="@{/managerPage}">
    <button id="backbutton" class="btn btn-sm btn-warning custom"> Manager system</button>
</a>
<section class="row" id="centeredElement" style="width: 50%; margin-left:30%; border: 10px">

    <div class="col-xs-2"></div>

    <div class="col-xs-8">
        <form action="#" th:action="@{/saveUserData}" th:object="${user}"
              method="POST">
            <div>
                <input type="text" th:field="*{username}"
                       placeholder="Your Username" required>
            </div>
            <br>
            <div>
                <input type="password" th:field="*{password}"
                       placeholder="Your Password" required>
            </div>
            <button type="submit" class="btn btn-sm btn-primary"> Save</button>
        </form>
    </div>

    <div class="col-xs-2"></div>

</section>

</body>
</html>