<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add User</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
<div>
    <h1>Create new user</h1>

    <form action="#" th:action="@{/saveUserData}" th:object="${user}"
          method="POST">
        <input type="text" th:field="*{username}"
               placeholder="Your Username">

        <input type="password" th:field="*{password}"
               placeholder="Your Password">

        <button type="submit"> Save </button>
    </form>

    <hr>

    <a th:href="@{/}"><button> Back to main page </button></a>
</div>
</body>
</html>