<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Main Page</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" media="all"
          href="css/style.css" th:href="@{/css/style.css}"/>
    <style>
        tr:nth-child(even) {
            background-color: #132854;
            color: white;
        }

    </style>
</head>
<body>
<nav>
    <h1>Audriaus blog'as</h1>
    <div class="drawline"></div>
</nav>
<br>
<section>
    <div class="col-xs-10">

        <a th:href="@{/}"><button id="backbutton" class="btn btn-sm btn-warning"> Back</button></a>
    <form class="form-inline">
        <img src="/pics/search.png" width="20" height="20" alt="">
        <input class="form-control" id="myInput" style="width: 95%;" type="text"
               placeholder="Start type to search record...">
    </form>
    </div>
    <div class="col-xs-2"></div>
</section>
<section>
    <div class="col-xs-10"></div>
    <div class="col-xs-2">
        <div class="dropdown">
            <button class="dropbtn">Sort by: </button>
            <div class="dropdown-content">
                <a th:href="@{/sortNewToOld}">From new to old</a>
                <a th:href="@{/sortOldToNew}">From old to new</a>
                <a th:href="@{/sortBestRatingFirst}">Best rating first</a>
                <a th:href="@{/sortWorstRatingFirst}">Worst rating first</a>
            </div>
        </div>
    </div>
</section>
<section class="row">

    <!--            <div class="col-xs-1"></div>-->
    <div class="col-xs-10">
        <div class="container-fluid">
            <table id="myTable" class="table-bordered" style="width: 100%; margin-top: 1%;" th:each="record:${recordsList}">
                <thead>
                <tr class="center" style="background-color: #132854; color: white;">
                    <th>Title</th>
                    <th>Description</th>
<!--                    <th>Rating</th>-->
                    <th style="text-align: center; padding: 5px"><img src="/pics/thumbup.png" width="30" height="30" alt=""></th>
                    <th style="text-align: center; padding: 5px"><img src="/pics/thumbdown.png" width="30" height="30" alt=""></th>
                    <th>Posted</th>
                    <th>Rate post</th>
                </tr>

                </thead>
                <tbody >
                <tr>
                    <td style="width: 20%" th:text="${record.recordTitle}"></td>
                    <td style="width: 46%" th:text="${record.recordDescription}"></td>
<!--                    <td style="width: 8%" th:text="${record.rating.ratingValue}"></td>-->
                    <td style="width: 8%" th:text="${record.rating.likeValue}"></td>
                    <td style="width: 8%" th:text="${record.rating.dislikeValue}"></td>
                    <td style="width: 10%" th:text="${record.recordDate} ? ${#temporals.format(record.recordDate, 'yyyy.MM.dd, HH:mm')}"></td>
                    <td>
                        <a th:href="@{/ratingPlus/{recordId}(recordId=${record.recordId})}" class="btn btn-block btn-primary">Like</a>
                        <a th:href="@{/ratingMinus/{recordId}(recordId=${record.recordId})}" class="btn btn-block btn-danger">Dislike</a>
                    </td>
                </tr>
                </tbody>

            </table>
        </div>
    </div>
    <div class="col-xs-2"></div>
</section>
</section>
</div>
<script src="js/searchscript.js"></script>
</body>
</html>