<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" media="all"
          href="css/style.css" th:href="@{/css/style.css}"/>

</head>
<body>
<nav class="center">
    <img src="/pics/danger.png" width="60" height="60" alt=""><span><h1 style="color: red; font-weight: bold">BAD LOGIN DATA</h1></span>
</nav>
<div class="container">

    <section class="row">
        <div class="col-xs-2"></div>

        <div class="col-xs-8 center" style="margin-top: 50px">
            <a th:href="@{/}" class="btn btn-primary custom">Back to main page</a>
            <a th:href="@{/admin}" class="btn btn-danger custom">Try again</a>
        </div>

        <div class="col-xs-2"></div>

    </section>
</div>
</body>
</html>