<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Test page</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" media="all"
          href="style.css" th:href="@{/style.css}" />
</head>
<body>
<div class="container">
    <section class="row">
        <article class="col-xs-12">
            <h2>Welcome to my first HTML website</h2>
        </article>
        <section class="row">
            <div class="col-xs-4"><img src="web.png"  width="100" height="100"> </div>
            <div class="col-xs-4"> <img src="web2.png"  width="100" height="100"> </div>
            <div class="col-xs-4"> <img src="web3.png"  width="100" height="100"> </div>
        </section>
    </section>
</div>
</body>
</html>